
body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main{
    width: 70%;
    height: 70%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 10%;
    position: relative;
}
.child {
    display: flex;
    justify-content: center;
    width: 60%;
    

}
.product-picture {
    height: 500px;
}
.product-picture img{
    width: 100%;
    height: 100%;
    border-radius: 5% 0 0 5%;
}

.product-content{
    background-color: white;
    width: 45%;
    border-radius: 0 5% 5% 0;
}


.branch-name {
    margin-top: 10%;
    color: hsla(212, 21%, 14%, 0.271);
    padding-left: 10%;
    letter-spacing: 10px;
    font-size: 0.7em;
}

.product-name {
    margin-left: 10%;
    margin-right: 15%;
    font-family: 'Fraunces', serif;
    font-size: 1.2em;
}

.product-details {
    margin-left: 10%;
    margin-right: 15%;
    color: gray;
    font-size: 14px;
}

.price {
    font-family: 'Fraunces', serif;
    display: flex;
    position: relative;
    margin: 10% 10% 0 10%;
}
.discount {
    color: hsl(158, 36%, 37%);
    font-size: 2em;
}

.original {
    display: flex;
    position: absolute;
    right: 20%;
    height: 100%;
    align-items: center;
    color: gray;
    text-decoration: line-through;
}
.buy-box {
    margin: 10% 10% 0 10%;
    display: block;
    height: 10%;
    
}
.buy-button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background-color: hsl(158, 36%, 37%);
    width: 100%;
    height: 100%;;
    color: white;
    border-radius: 10px;
    border: none;
}

.icon-cart {
    margin-right: 5%;
}

.attribution {
        margin: 5%;
        color: gray;
}